body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #0b1e34, #132b48);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background-color: #2a3b4c;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 350px;
}

.login-container h2 {
  color: #00bfff;
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-container button {
  width: 95%;
  padding: 12px;
  background-color: #00bfff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #0099cc;
}

.login-container p { 
  color: white;
}

a {
  color: #00bfff;
  text-decoration: none;
  font-weight: bold;
}

.message {
  color: #00cfff;
  text-align: center;
  margin-bottom: 10px;
}

.error-message {
  color: #ff4c4c;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff4c4c;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}
